In [1]:
# Goal: compile the most common value per attribute
# This will tell us what the most common 'Aircraft', 'Location', 'Time' etc... 
# is within this accident dataset.
# By sorting these we can then try to see whether the top value from each attribute seems to 
# show up significantly more than others

# While this is not entirely significant, due to no way to normalize the data,
# it is interesting to see and can act as a starting point for further analysis:
import pandas as pd
df = pd.read_csv('AIDS_REPORTS.csv')
df
list(df)

c:\users\rickyf~1\desktop\cs506env\env\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['AIDS Report Number',
 'Local Event Date',
 'Event City',
 'Event State',
 'Event Airport',
 'Event Type',
 'Aircraft Damage',
 'Flight Phase',
 'Aircraft Make',
 'Aircraft Model',
 'Aircraft Series',
 'Operator',
 'Primary Flight Type',
 'Flight Conduct Code',
 'Flight Plan Filed Code',
 'Aircraft Registration Nbr',
 'Total Fatalities',
 'Total Injuries',
 'Aircraft Engine Make',
 'Aircraft Engine Model',
 'Engine Group Code',
 'Nbr of Engines',
 'PIC Certificate Type',
 'PIC Flight Time Total Hrs',
 'PIC Flight Time Total Make-Model',
 ' ',
 ' .1']

In [2]:
df['Aircraft Make'].value_counts()[0:3] #look at top 3

CESSNA    26571
PIPER     17602
BEECH      9943
Name: Aircraft Make, dtype: int64

In [3]:
# removing irrelevant columns:
columns = list(df.columns)
columns.remove('AIDS Report Number')
columns.remove(' ')
columns.remove(' .1')
columns.remove('Aircraft Registration Nbr')
columns.remove('Total Fatalities')
columns.remove('Local Event Date')
columns.remove('Event Type')
columns.remove('Total Injuries')
#columns.remove('')
#print(columns)

In [4]:
for col in columns:
    top3 = df[col].value_counts().head(3)
    print('For {}, the top 3 are:'.format(col))
    print('{}'.format(top3))
    print("")

For Event City, the top 3 are:
CHICAGO        1817
HOUSTON        1007
KANSAS CITY     982
Name: Event City, dtype: int64

For Event State, the top 3 are:
CA    10377
TX     7639
FL     6297
Name: Event State, dtype: int64

For Event Airport, the top 3 are:
CHICAGO O'HARE INTL      1272
KANSAS CITY INTL          728
LAMBERT-ST LOUIS INTL     702
Name: Event Airport, dtype: int64

For Aircraft Damage, the top 3 are:
MINOR          65337
NONE            2788
SUBSTANTIAL     2765
Name: Aircraft Damage, dtype: int64

For Flight Phase, the top 3 are:
LEVEL OFF TOUCHDOWN         17084
ROLL-OUT (FIXED WING)       16224
FCD/PREC LDG FROM CRUISE     9523
Name: Flight Phase, dtype: int64

For Aircraft Make, the top 3 are:
CESSNA    26571
PIPER     17602
BEECH      9943
Name: Aircraft Make, dtype: int64

For Aircraft Model, the top 3 are:
CE-172    5382
PA-28     4282
727       3442
Name: Aircraft Model, dtype: int64

For Aircraft Series, the top 3 are:
200          4016
CE-172-N     1216
PA-28-140    1130
Name: Aircraft Series, dtype: int64

For Operator, the top 3 are:
AMERICAN AIRLINES INC    1509
DELTA AIR LINES INC      1399
UNITED AIR LINES INC     1150
Name: Operator, dtype: int64

For Primary Flight Type, the top 3 are:
PERSONAL                 40544
SCHEDULED AIR CARRIER    12684
INSTRUCTION               9732
Name: Primary Flight Type, dtype: int64

For Flight Conduct Code, the top 3 are:
GENERAL OPERATING RULES    69912
AIR CARRIER/COMMERCIAL     16011
AIR TAXI/COMMUTER          10094
Name: Flight Conduct Code, dtype: int64

For Flight Plan Filed Code, the top 3 are:
NONE                       35771
INSTRUMENT FLIGHT RULES    25814
UNKNOWN                    15527
Name: Flight Plan Filed Code, dtype: int64

For Aircraft Engine Make, the top 3 are:
LYC     10655
CONT     9125
PWA      4785
Name: Aircraft Engine Make, dtype: int64

For Aircraft Engine Model, the top 3 are:
O235L2C    1042
O200A      1010
O320*       710
Name: Aircraft Engine Model, dtype: int64

For Engine Group Code, the top 3 are:
O360    4135
O520    3622
O320    2791
Name: Engine Group Code, dtype: int64

For Nbr of Engines, the top 3 are:
1.0    54754
2.0    31107
3.0     4546
Name: Nbr of Engines, dtype: int64

For PIC Certificate Type, the top 3 are:
PRIVATE PILOT        29963
AIRLINE TRANSPORT    23572
COMMERCIAL PILOT     18614
Name: PIC Certificate Type, dtype: int64

For PIC Flight Time Total Hrs, the top 3 are:
0.0       1712
3000.0    1147
2000.0    1080
Name: PIC Flight Time Total Hrs, dtype: int64

For PIC Flight Time Total Make-Model, the top 3 are:
0.0      8543
200.0    2383
100.0    2239
Name: PIC Flight Time Total Make-Model, dtype: int64

In [5]:
# x = df['Nbr of Engines'].value_counts()
# x.head(3)

In [6]:
airmake = df['Aircraft Make'].value_counts().head(1)
print(airmake)
print(airmake.index[0])
print(airmake[0])
#str(df['Aircraft Make'].value_counts().head(1)[0])

CESSNA    26571
Name: Aircraft Make, dtype: int64
CESSNA
26571

In [7]:
eng = df['Nbr of Engines'].value_counts().head(1)
print(eng)
print(eng.index[0])
print(eng[1])

1.0    54754
Name: Nbr of Engines, dtype: int64
1.0
54754

In [8]:
Dict = {}
for col in columns:
    cur = df[col].value_counts()
    curind = cur.index[0]
    curnum = cur[0]
    key = col + ' , ' + str(curind) + ':'
    Dict[key] = (curnum)
    #Dict[col] = (curind,curnum)
Dict

{'Event City , CHICAGO:': 1817,
 'Event State , CA:': 10377,
 "Event Airport , CHICAGO O'HARE INTL:": 1272,
 'Aircraft Damage , MINOR:': 65337,
 'Flight Phase , LEVEL OFF TOUCHDOWN:': 17084,
 'Aircraft Make , CESSNA:': 26571,
 'Aircraft Model , CE-172:': 5382,
 'Aircraft Series , 200:': 4016,
 'Operator , AMERICAN AIRLINES INC:': 1509,
 'Primary Flight Type , PERSONAL:': 40544,
 'Flight Conduct Code , GENERAL OPERATING RULES:': 69912,
 'Flight Plan Filed Code , NONE:': 35771,
 'Aircraft Engine Make , LYC:': 10655,
 'Aircraft Engine Model , O235L2C:': 1042,
 'Engine Group Code , O360:': 4135,
 'Nbr of Engines , 1.0:': 871,
 'PIC Certificate Type , PRIVATE PILOT:': 29963,
 'PIC Flight Time Total Hrs , 0.0:': 1712,
 'PIC Flight Time Total Make-Model , 0.0:': 8543}

In [9]:
s = [(k, Dict[k]) for k in sorted(Dict, key=Dict.get, reverse=True)]
for k, v in s:
    print(k,v)

Flight Conduct Code , GENERAL OPERATING RULES: 69912
Aircraft Damage , MINOR: 65337
Primary Flight Type , PERSONAL: 40544
Flight Plan Filed Code , NONE: 35771
PIC Certificate Type , PRIVATE PILOT: 29963
Aircraft Make , CESSNA: 26571
Flight Phase , LEVEL OFF TOUCHDOWN: 17084
Aircraft Engine Make , LYC: 10655
Event State , CA: 10377
PIC Flight Time Total Make-Model , 0.0: 8543
Aircraft Model , CE-172: 5382
Engine Group Code , O360: 4135
Aircraft Series , 200: 4016
Event City , CHICAGO: 1817
PIC Flight Time Total Hrs , 0.0: 1712
Operator , AMERICAN AIRLINES INC: 1509
Event Airport , CHICAGO O'HARE INTL: 1272
Aircraft Engine Model , O235L2C: 1042
Nbr of Engines , 1.0: 871